body {
  background-color: #BFE5D9;
  
}

#button1 {
  height: 100px;
  width: 100px;
  
}


#button2 {
  height: 100px;
  width: 100px;
  
}
#button3 {
  height: 100px;
  width: 100px;
  
}

#button4 {
  height: 100px;
  width: 100px;
  margin-top: 15px;
  
}

#button5 {
  height: 100px;
  width: 100px;
  margin-top: 15px;
  
}

#button6 {
  height: 100px;
  width: 100px;
  margin-top: 15px;
}

#button7 {
  height: 100px;
  width: 100px;
  margin-top: 15px;
  
}

#button8 {
  height: 100px;
  width: 100px;
  
}

#button9 {
  height: 100px;
  width: 100px;
  margin-top: 15px;
}

.jumbotron {
 background-image: url("images/ttt_img.jpg");
 padding:4em inherit;
 background-repeat: no-repeat;
 background-size: cover;
 width: 100%;
}















